.form {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.form-group select {
  height: 27px;
}
.table {
  border: 1px solid black;
  margin: 0 100px 0 100px;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: lightblue;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button-group button {
  margin: 10px;
}
.addBtn {
  background: #256bd1;
  box-shadow: 0px 5px 10px #0000000f;
  border-radius: 4px;
  opacity: 1;
  color: white;
}
.saveBtn {
  background: #256bd1;
  border: 1px solid #256bd1;
  border-radius: 4px;
  opacity: 1;
  color: white;
}
.cancelBtn {
  background: #ffffff;
  border: 1px solid #8a91ac;
  border-radius: 4px;
  opacity: 1;
}
.label {
  text-align: start;
}
.form-element {
  text-align: start;
}
